/* Write your code here. */

* {
  /* margin: 0;
  padding: 0; */
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ab;
  position: relative;
  box-sizing: border-box;
}
.container {
  width: auto;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: serif;
}

h1,
h2,
h3 {
  color: #1098ab;
}
nav a:link {
  margin-right: 30px;
  /* display: inline; */
}

h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

nav {
  font-size: 18px;
}

p {
  font-size: 14px;

  line-height: 1.5;
}

li {
  font-size: 15px;
}

/* footer ul {
  list-style-type: none;
} */

.Related {
  list-style-type: none;
}

.Main-Header {
  background-color: #f7f7f7;
  padding: 20px 20px;
  margin-bottom: 40px;
  height: 80px;
  width: auto;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ab;
  border-bottom: 5px solid #1098ab;
  padding: 30px 30px;
  width: 400px;
  box-sizing: border-box;
}

li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}

/* li:nth-child(even) {
  color: red;
} */

a:link {
  color: #1098ab;
  text-decoration: none;
}

a:visited {
  color: #1098ab;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}
a:active {
  background-color: black;
  font-style: italic;
}

li:last-child {
  margin-bottom: 0px;
}
.post-image {
  width: 50%;
  margin-left: -70px;
  margin-top: 60px;
  height: auto;
}

button {
  font-size: 22px;
  padding: 15px;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}

h2 {
  position: relative;
  width: 500px;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  padding: 2px;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
}

.author-img {
  float: left;
}

.author {
  margin-top: 40px;
  padding-left: 90px;
}

h1 {
  float: left;
}

nav {
  float: right;
  margin-top: 20px;
}

.clear {
  clear: both;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

article {
  width: 700px;
  float: left;
}

aside {
  width: 400px;
  float: right;
}

footer {
  clear: both;
  margin-top: 80px;
}
